In [18]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [19]:
dataset = "Retail_Dataset(Sheet1).csv"
am_df = pd.read_csv("Retail_Dataset(Sheet1).csv", encoding = "latin1")
am_df.head()

,Row,date,company_Name,ticker,broker,analytst,rating_before,rating_after,price_target_before,price_target_after
0,1,6/12/2020,Lululemon Athletica,LULU,BARCLAYS,ADRIENNE YIH,,OVERWEIGHT,350,347
1,2,7/9/2020,Lululemon Athletica,LULU,BARCLAYS,ADRIENNE YIH,NOT FOUND,NOT FOUND,NaN,
2,3,9/9/2020,Lululemon Athletica,LULU,BARCLAYS,ADRIENNE YIH,,OVERWEIGHT,347,382
3,4,12/11/2020,Lululemon Athletica,LULU,BARCLAYS,ADRIENNE YIH,,OVERWEIGHT,382,410
4,5,3/31/2022,Lululemon Athletica,LULU,BARCLAYS,ADRIENNE YIH,,OVERWEIGHT,410,441

In [20]:
cols = ["rating_before", "rating_after", "price_target_before", "price_target_after"]
am_df = am_df[am_df["ticker"] == "AMZN"].copy()
am_df[cols] = am_df[cols].replace(["NOT FOUND", "", " "], np.nan)
am_df[cols] = am_df[cols].apply(lambda col: col.map(lambda x: np.nan if isinstance(x, str) and x.strip() == "" else x))
am_clean = am_df.dropna(subset=cols)
am_clean.head(20)

,Row,date,company_Name,ticker,broker,analytst,rating_before,rating_after,price_target_before,price_target_after
1556,12,4/25/2014,Amazon.com Inc,AMZN,RAYMOND JAMES,AARON KESSLER,Outperform,Outperform,400,400
1558,14,7/26/2019,Amazon.com Inc,AMZN,RAYMOND JAMES,AARON KESSLER,Outperform,Outperform,2225,2225
1559,15,3/22/2016,Amazon.com Inc,AMZN,RAYMOND JAMES,AARON KESSLER,Outperform,Outperform,655,655
1562,18,1/31/2020,Amazon.com Inc,AMZN,RAYMOND JAMES,AARON KESSLER,OUTPERFORM,OUTPERFORM,101,120
1563,19,7/31/2020,Amazon.com Inc,AMZN,RAYMOND JAMES,AARON KESSLER,OUTPERFORM,OUTPERFORM,126.25,175
1565,21,2/4/2022,Amazon.com Inc,AMZN,RAYMOND JAMES,AARON KESSLER,OUTPERFORM,OUTPERFORM,192,197.5
1569,25,10/24/2023,Amazon.com Inc,AMZN,NaN,AARON KESSLER,Buy,Buy,145,145
1571,27,4/29/2022,Amazon.com Inc,AMZN,NaN,ANDREW BOONE,Market Outperform,Market Outperform,3600,3600
1572,28,7/29/2022,Amazon.com Inc,AMZN,NaN,ANDREW BOONE,Market Outperform,Market Outperform,180,180
1573,29,6/1/2022,Amazon.com Inc,AMZN,NaN,ANDREW BOONE,Market Outperform,Market Outperform,3450,3450
1574,30,11/1/2021,Amazon.com Inc,AMZN,NaN,ANDREW BOONE,Market Outperform,Market Outperform,200,200
1591,47,10/27/2017,Amazon.com Inc,AMZN,LOOP CAPITAL,ANTHONY CHUKUMBA,Buy,Buy,1250,1250
1607,63,6/14/2022,Amazon.com Inc,AMZN,ROSENBLATT,BARTON CROCKETT,Neutral,Neutral,107,107
1608,64,7/29/2022,Amazon.com Inc,AMZN,ROSENBLATT,BARTON CROCKETT,Neutral,Neutral,118,118
1609,65,11/14/2022,Amazon.com Inc,AMZN,ROSENBLATT,BARTON CROCKETT,Neutral,Neutral,103,103
1610,66,2/3/2023,Amazon.com Inc,AMZN,ROSENBLATT,BARTON CROCKETT,Neutral,Neutral,106,106
1611,67,8/4/2023,Amazon.com Inc,AMZN,ROSENBLATT,BARTON CROCKETT,Neutral,Buy,184,184
1612,68,5/1/2024,Amazon.com Inc,AMZN,ROSENBLATT,BARTON CROCKETT,Buy,Buy,220,220
1613,69,11/1/2024,Amazon.com Inc,AMZN,ROSENBLATT,BARTON CROCKETT,Buy,Buy,236,236
1615,71,10/29/2021,Amazon.com Inc,AMZN,NaN,BRAD ERICKSON,Outperform,Outperform,4200 » 4100,4200 » 4100

In [21]:
am_clean = am_clean.rename(columns={"date" : "Date", "broker" : "Broker", "company_Name" : "Company Name", "ticker" : "Ticker", "analytst": "Analyst", 
                                    "rating_before" : "Rating Before", "rating_after" : "Rating After", "price_target_before" : "Price Target Before", 
                                    "price_target_after" : "Price Target After"})
cols_to_title = ["Broker", "Analyst", "Rating Before", "Rating After"]
for col in cols_to_title:
    am_clean[col] = am_clean[col].str.title()

am_clean["Date"] = pd.to_datetime(am_clean["Date"], errors="coerce")
am_clean = am_clean.sort_values(by="Date")
am_clean.head(30)

,Row,Date,Company Name,Ticker,Broker,Analyst,Rating Before,Rating After,Price Target Before,Price Target After
2091,543,2009-12-02,Amazon.com Inc,AMZN,NaN,Heath Terry,Outperform,Outperform,160,160
1773,226,2012-09-04,Amazon.com Inc,AMZN,NaN,Brian Pitz,Buy,Buy,300,300
3084,1536,2012-09-21,Amazon.com Inc,AMZN,NaN,Youssef Squali,Buy,Buy,300,300
2092,544,2013-01-09,Amazon.com Inc,AMZN,NaN,Heath Terry,Buy,Buy,310,310
1769,222,2013-01-30,Amazon.com Inc,AMZN,NaN,Brian Pitz,Buy,Buy,335,335
3082,1534,2013-01-30,Amazon.com Inc,AMZN,NaN,Youssef Squali,Buy,Buy,335,335
1705,161,2013-01-30,Amazon.com Inc,AMZN,NaN,Brian Nowak,Buy,Buy,335,335
2480,932,2013-01-30,Amazon.com Inc,AMZN,NaN,Mark Mahaney,Outperform,Outperform,330,330
1703,159,2013-02-20,Amazon.com Inc,AMZN,NaN,Brian Nowak,Buy,Buy,300,300
1700,156,2013-04-17,Amazon.com Inc,AMZN,NaN,Brian Nowak,Buy,Buy,315,315
3081,1533,2013-04-26,Amazon.com Inc,AMZN,NaN,Youssef Squali,Buy,Buy,315,315
1706,162,2013-07-10,Amazon.com Inc,AMZN,NaN,Brian Nowak,Positive,Positive,370,370
2817,1269,2013-10-25,Amazon.com Inc,AMZN,Deutsche Bank,Ross Sandler,Buy,Buy,16.75,20
2483,935,2013-10-25,Amazon.com Inc,AMZN,NaN,Mark Mahaney,Outperform,Outperform,425,425
2026,478,2013-10-25,Amazon.com Inc,AMZN,Ubs,Eric Sheridan,Buy,Buy,400,400
2541,993,2013-12-31,Amazon.com Inc,AMZN,Citi,Mark May,Buy,Buy,457,457
2865,1317,2014-01-06,Amazon.com Inc,AMZN,Morgan Stanley,Scott Devitt,Overweight,Overweight,435,435
1704,160,2014-01-10,Amazon.com Inc,AMZN,NaN,Brian Nowak,Positive,Positive,500,500
2017,469,2014-01-13,Amazon.com Inc,AMZN,Ubs,Eric Sheridan,Buy,Buy,465,465
2813,1265,2014-01-31,Amazon.com Inc,AMZN,Deutsche Bank,Ross Sandler,Buy,Buy,420,420
2544,996,2014-01-31,Amazon.com Inc,AMZN,Citi,Mark May,Neutral,Neutral,454,454
2020,472,2014-01-31,Amazon.com Inc,AMZN,Ubs,Eric Sheridan,Buy,Buy,420,420
2811,1263,2014-04-25,Amazon.com Inc,AMZN,Deutsche Bank,Ross Sandler,Buy,Buy,400,400
1556,12,2014-04-25,Amazon.com Inc,AMZN,Raymond James,Aaron Kessler,Outperform,Outperform,400,400
2015,467,2014-04-25,Amazon.com Inc,AMZN,Ubs,Eric Sheridan,Neutral,Neutral,350,350
3080,1532,2014-04-25,Amazon.com Inc,AMZN,NaN,Youssef Squali,Buy,Buy,400,400
2553,1005,2014-07-22,Amazon.com Inc,AMZN,Citi,Mark May,Buy,Neutral,20.7,19.75
2814,1266,2014-07-25,Amazon.com Inc,AMZN,Deutsche Bank,Ross Sandler,Buy,Buy,395,395
2023,475,2014-07-25,Amazon.com Inc,AMZN,Ubs,Eric Sheridan,Neutral,Neutral,358,358
1772,225,2014-07-25,Amazon.com Inc,AMZN,NaN,Brian Pitz,Buy,Buy,395,395

In [22]:
am_clean.to_csv("AMZNcleaned.csv", index=False)