In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
dataset = "Retail_Dataset(Sheet1).csv"
df = pd.read_csv("Retail_Dataset(Sheet1).csv", encoding="latin1")
df.head()

,Row,date,company_Name,ticker,broker,analytst,rating_before,rating_after,price_target_before,price_target_after
0,1,6/12/2020,Lululemon Athletica,LULU,BARCLAYS,ADRIENNE YIH,,OVERWEIGHT,350,347
1,2,7/9/2020,Lululemon Athletica,LULU,BARCLAYS,ADRIENNE YIH,NOT FOUND,NOT FOUND,NaN,
2,3,9/9/2020,Lululemon Athletica,LULU,BARCLAYS,ADRIENNE YIH,,OVERWEIGHT,347,382
3,4,12/11/2020,Lululemon Athletica,LULU,BARCLAYS,ADRIENNE YIH,,OVERWEIGHT,382,410
4,5,3/31/2022,Lululemon Athletica,LULU,BARCLAYS,ADRIENNE YIH,,OVERWEIGHT,410,441

In [9]:
cols = ["rating_before", "rating_after", "price_target_before", "price_target_after"]
df = df[df["ticker"] == "COST"].copy()
df[cols] = df[cols].replace(["NOT FOUND", "", " "], np.nan)
df[cols] = df[cols].apply(lambda col: col.map(lambda x: np.nan if isinstance(x, str) and x.strip() == "" else x))
cost_clean = df.dropna(subset=cols)
cost_clean.head(20)

,Row,date,company_Name,ticker,broker,analytst,rating_before,rating_after,price_target_before,price_target_after
3576,1,3/11/2021,Costco Wholesale,COST,NaN,ZACHARY FADEM,Equal Weight,Overweigh,340,370
3588,13,5/26/2023,Costco Wholesale,COST,ROTH MKM,BILL KIRK,Neutral,Neutral,482,482
3589,14,9/27/2023,Costco Wholesale,COST,ROTH MKM,BILL KIRK,Neutral,Neutral,502,502
3590,15,5/31/2024,Costco Wholesale,COST,NaN,BILL KIRK,Neutral,Neutral,676,676
3591,16,9/27/2024,Costco Wholesale,COST,NaN,BILL KIRK,Neutral,Neutral,755,755
3592,17,9/24/2021,Costco Wholesale,COST,NaN,BOBBY GRIFFIN,Outperform,Outperform,490,490
3593,18,10/1/2021,Costco Wholesale,COST,NaN,BOBBY GRIFFIN,Outperform,Outperform,490,490
3594,19,11/5/2021,Costco Wholesale,COST,NaN,BOBBY GRIFFIN,Outperform,Outperform,540,540
3595,20,12/3/2021,Costco Wholesale,COST,NaN,BOBBY GRIFFIN,Outperform,Outperform,565,565
3596,21,4/19/2022,Costco Wholesale,COST,NaN,BOBBY GRIFFIN,Outperform,Outperform,645,645
3597,22,5/31/2022,Costco Wholesale,COST,NaN,BOBBY GRIFFIN,Outperform,Outperform,560,560
3598,23,8/5/2022,Costco Wholesale,COST,NaN,BOBBY GRIFFIN,Outperform,Outperform,600,600
3599,24,9/26/2022,Costco Wholesale,COST,NaN,BOBBY GRIFFIN,Outperform,Outperform,560,560
3600,25,12/1/2022,Costco Wholesale,COST,NaN,BOBBY GRIFFIN,Outperform,Outperform,570,570
3601,26,9/27/2023,Costco Wholesale,COST,NaN,BOBBY GRIFFIN,Outperform,Outperform,580,580
3603,28,9/18/2019,Costco Wholesale,COST,BERNSTEIN,BRANDON FLETCHER,UNDERPERFORM,MARKET PERFORM,230,220
3607,32,4/17/2019,Costco Wholesale,COST,NaN,BRIAN NAGEL,Outperform,Outperform,270,270
3608,33,4/7/2022,Costco Wholesale,COST,NaN,BRIAN NAGEL,Outperform,Outperform,645,645
3609,34,4/8/2021,Costco Wholesale,COST,NaN,BRIAN NAGEL,Outperform,Outperform,400,400
3610,35,8/5/2021,Costco Wholesale,COST,NaN,BRIAN NAGEL,Outperform,Outperform,480,480

In [11]:
cost_clean = cost_clean.rename(columns={"date" : "Date", "broker" : "Broker", "company_Name" : "Company Name", "ticker" : "Ticker", "analytst": "Analyst", 
                                    "rating_before" : "Rating Before", "rating_after" : "Rating After", "price_target_before" : "Price Target Before", 
                                    "price_target_after" : "Price Target After"})
cols_to_title = ["Broker", "Analyst", "Rating Before", "Rating After"]
for col in cols_to_title:
    cost_clean[col] = cost_clean[col].str.title()

In [14]:
cost_clean["Date"] = pd.to_datetime(cost_clean["Date"], errors="coerce")
cost_clean = cost_clean.sort_values(by="Date")
cost_clean.head(30)

,Row,Date,Company Name,Ticker,Broker,Analyst,Rating Before,Rating After,Price Target Before,Price Target After
3793,218,2013-05-31,Costco Wholesale,COST,Ubs,Jason Derise,Buy,Buy,125,125
3716,141,2014-09-25,Costco Wholesale,COST,Jefferies,Daniel Binder,Hold,Hold,115,115
3795,220,2014-10-02,Costco Wholesale,COST,NaN,Jason Derise,Neutral,Neutral,125,125
4201,626,2014-10-06,Costco Wholesale,COST,Deutsche Bank,Paul Trussell,Buy,Buy,130,130
3715,140,2014-10-07,Costco Wholesale,COST,Jefferies,Daniel Binder,Hold,Hold,116,116
3796,221,2014-10-09,Costco Wholesale,COST,NaN,Jason Derise,Neutral,Neutral,129,129
3713,138,2014-12-05,Costco Wholesale,COST,Jefferies,Daniel Binder,Hold,Hold,118,130
3791,216,2014-12-11,Costco Wholesale,COST,NaN,Jason Derise,Neutral,Neutral,145,145
3714,139,2015-01-07,Costco Wholesale,COST,Jefferies,Daniel Binder,Hold,Hold,133,133
4203,628,2015-02-05,Costco Wholesale,COST,Deutsche Bank,Paul Trussell,Buy,Hold,147,142
4191,616,2015-07-09,Costco Wholesale,COST,Deutsche Bank,Paul Trussell,Hold,Hold,143,143
3647,72,2015-09-22,Costco Wholesale,COST,NaN,Charles Grom,Buy,Buy,152,152
4202,627,2015-09-30,Costco Wholesale,COST,Deutsche Bank,Paul Trussell,Hold,Hold,144,144
3646,71,2015-10-02,Costco Wholesale,COST,NaN,Charles Grom,Buy,Buy,154,154
3797,222,2015-10-26,Costco Wholesale,COST,NaN,Jason Derise,Buy,Buy,180,180
4463,888,2015-11-17,Costco Wholesale,COST,Morgan Stanley,Simeon Gutman,Overweight,Overweight,163,179
4208,633,2015-12-03,Costco Wholesale,COST,Deutsche Bank,Paul Trussell,Hold,Buy,152,200
4415,840,2015-12-09,Costco Wholesale,COST,Piper Sandler,Sean Naughton,Overweight,Overweight,171,174
3929,354,2016-02-05,Costco Wholesale,COST,Bmo,Kelly Bania,Outperform,Outperform,170,170
3612,37,2016-02-12,Costco Wholesale,COST,Oppenheimer,Brian Nagel,Outperform,Outperform,160,160
4196,621,2016-05-16,Costco Wholesale,COST,Deutsche Bank,Paul Trussell,Buy,Buy,196,196
3903,328,2016-05-27,Costco Wholesale,COST,Citi,Kate Mcshane,Neutral,Neutral,155,155
4197,622,2016-05-31,Costco Wholesale,COST,Deutsche Bank,Paul Trussell,Buy,Buy,195,195
3901,326,2016-08-16,Costco Wholesale,COST,Citi,Kate Mcshane,Neutral,Neutral,172,172
3905,330,2016-09-30,Costco Wholesale,COST,Citi,Kate Mcshane,Neutral,Neutral,167,167
4189,614,2016-12-05,Costco Wholesale,COST,Deutsche Bank,Paul Trussell,Buy,Buy,194,194
3623,48,2017-01-11,Costco Wholesale,COST,Oppenheimer,Brian Nagel,Outperform,Outperform,175,185
4133,558,2017-03-03,Costco Wholesale,COST,Td Cowen,Oliver Chen,Outperform,Outperform,170,190
3885,310,2017-03-03,Costco Wholesale,COST,Barclays,Karen Short,Equal Weight,Equal Weight,170,170
3645,70,2017-05-09,Costco Wholesale,COST,NaN,Charles Grom,Accumulate,Accumulate,191,191