In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [11]:
dataset = "cleaned_dataset - Sheet1.csv"
clean = pd.read_csv("cleaned_dataset - Sheet1.csv", encoding = "latin1")
clean.head()

,Row,Date,Company Name,Ticker,Broker,Analyst,Rating Before,Rating After,Price Target Before,Price Target After,Upgrade/Downgrade/No Change,Adjusted Close Price (t = 0),Adjusted Close Price (t = 30)
0,122,6/13/2013,Ross Stores Inc,ROST,Crt Capital,Ike Boruchow,Neutral,Buy,36.0,37.5,NaN,NaN,NaN
1,415,11/22/2013,Ross Stores Inc,ROST,Maxim Group,Rick Snyder,Hold,Sell,37.5,31.5,NaN,NaN,NaN
2,430,2/28/2014,Ross Stores Inc,ROST,NaN,Roxanne Meyer,Buy,Buy,84.0,84.0,NaN,NaN,NaN
3,322,5/23/2014,Ross Stores Inc,ROST,Deutsche Bank,Michael Baker,Buy,Buy,78.0,78.0,NaN,NaN,NaN
4,134,7/16/2014,Ross Stores Inc,ROST,Crt Capital,Ike Boruchow,Buy,Neutral,40.5,34.0,NaN,NaN,NaN

In [12]:
rating_map = {"Buy": 1, "Outperform": 1, "Positive": 1, "Strong Buy": 1, "Hold": 0, "Neutral": 0, 
              "Market Perform": 0, "Sector Perform": 0, "Sell": -1, "Short": -1, "Underperform": -1}

clean['Rating Before Score'] = clean['Rating Before'].map(rating_map)
clean['Rating After Score'] = clean['Rating After'].map(rating_map)

clean.head()

,Row,Date,Company Name,Ticker,Broker,Analyst,Rating Before,Rating After,Price Target Before,Price Target After,Upgrade/Downgrade/No Change,Adjusted Close Price (t = 0),Adjusted Close Price (t = 30),Rating Before Score,Rating After Score
0,122,6/13/2013,Ross Stores Inc,ROST,Crt Capital,Ike Boruchow,Neutral,Buy,36.0,37.5,NaN,NaN,NaN,0.0,1.0
1,415,11/22/2013,Ross Stores Inc,ROST,Maxim Group,Rick Snyder,Hold,Sell,37.5,31.5,NaN,NaN,NaN,0.0,-1.0
2,430,2/28/2014,Ross Stores Inc,ROST,NaN,Roxanne Meyer,Buy,Buy,84.0,84.0,NaN,NaN,NaN,1.0,1.0
3,322,5/23/2014,Ross Stores Inc,ROST,Deutsche Bank,Michael Baker,Buy,Buy,78.0,78.0,NaN,NaN,NaN,1.0,1.0
4,134,7/16/2014,Ross Stores Inc,ROST,Crt Capital,Ike Boruchow,Buy,Neutral,40.5,34.0,NaN,NaN,NaN,1.0,0.0

In [13]:
def classify_rating_change(row):
    if row['Rating After Score'] > row['Rating Before Score']:
        return 'Upgrade'
    elif row['Rating After Score'] < row['Rating Before Score']:
        return 'Downgrade'
    else:
        return 'No Change'
clean['Event Type'] = clean.apply(classify_rating_change, axis = 1)

clean = clean.drop(columns = ['Rating Before Score', 'Rating After Score', 'Upgrade/Downgrade/No Change'])
clean.head()

,Row,Date,Company Name,Ticker,Broker,Analyst,Rating Before,Rating After,Price Target Before,Price Target After,Adjusted Close Price (t = 0),Adjusted Close Price (t = 30),Event Type
0,122,6/13/2013,Ross Stores Inc,ROST,Crt Capital,Ike Boruchow,Neutral,Buy,36.0,37.5,NaN,NaN,Upgrade
1,415,11/22/2013,Ross Stores Inc,ROST,Maxim Group,Rick Snyder,Hold,Sell,37.5,31.5,NaN,NaN,Downgrade
2,430,2/28/2014,Ross Stores Inc,ROST,NaN,Roxanne Meyer,Buy,Buy,84.0,84.0,NaN,NaN,No Change
3,322,5/23/2014,Ross Stores Inc,ROST,Deutsche Bank,Michael Baker,Buy,Buy,78.0,78.0,NaN,NaN,No Change
4,134,7/16/2014,Ross Stores Inc,ROST,Crt Capital,Ike Boruchow,Buy,Neutral,40.5,34.0,NaN,NaN,Downgrade

In [14]:
clean['Event Type'].value_counts()

Event Type
No Change    1197
Downgrade      36
Upgrade        25
Name: count, dtype: int64

In [15]:
upgrades = clean[clean['Event Type'] == 'Upgrade']
downgrades = clean[clean['Event Type'] == 'Downgrade']
no_change = clean[clean['Event Type'] == 'No Change']

In [16]:
upgrades.head()

,Row,Date,Company Name,Ticker,Broker,Analyst,Rating Before,Rating After,Price Target Before,Price Target After,Adjusted Close Price (t = 0),Adjusted Close Price (t = 30),Event Type
0,122,6/13/2013,Ross Stores Inc,ROST,Crt Capital,Ike Boruchow,Neutral,Buy,36.0,37.5,NaN,NaN,Upgrade
11,131,4/17/2015,Ross Stores Inc,ROST,Crt Capital,Ike Boruchow,Short,Neutral,52.5,56.0,NaN,NaN,Upgrade
13,428,3/2/2016,Ross Stores Inc,ROST,Roth Mkm,Roxanne Meyer,Neutral,Buy,52.0,65.0,NaN,NaN,Upgrade
62,39,3/25/2020,Ross Stores Inc,ROST,Goldman Sachs,Alexandra Walvis,Sell,Buy,93.0,110.0,NaN,NaN,Upgrade
74,248,10/14/2021,Ross Stores Inc,ROST,Loop Capital,Laura Champine,Hold,Buy,140.0,105.0,NaN,NaN,Upgrade

In [17]:
downgrades.head()

,Row,Date,Company Name,Ticker,Broker,Analyst,Rating Before,Rating After,Price Target Before,Price Target After,Adjusted Close Price (t = 0),Adjusted Close Price (t = 30),Event Type
1,415,11/22/2013,Ross Stores Inc,ROST,Maxim Group,Rick Snyder,Hold,Sell,37.5,31.5,NaN,NaN,Downgrade
4,134,7/16/2014,Ross Stores Inc,ROST,Crt Capital,Ike Boruchow,Buy,Neutral,40.5,34.0,NaN,NaN,Downgrade
8,360,12/16/2014,Ross Stores Inc,ROST,Td Cowen,Oliver Chen,Outperform,Market Perform,47.5,47.0,NaN,NaN,Downgrade
49,37,6/27/2019,Ross Stores Inc,ROST,Goldman Sachs,Alexandra Walvis,Neutral,Sell,102.0,91.0,NaN,NaN,Downgrade
61,371,3/20/2020,Ross Stores Inc,ROST,Citi,Paul Lejuez,Buy,Neutral,90.0,120.0,NaN,NaN,Downgrade

In [18]:
no_change.head()

,Row,Date,Company Name,Ticker,Broker,Analyst,Rating Before,Rating After,Price Target Before,Price Target After,Adjusted Close Price (t = 0),Adjusted Close Price (t = 30),Event Type
2,430,2/28/2014,Ross Stores Inc,ROST,NaN,Roxanne Meyer,Buy,Buy,84.0,84.0,NaN,NaN,No Change
3,322,5/23/2014,Ross Stores Inc,ROST,Deutsche Bank,Michael Baker,Buy,Buy,78.0,78.0,NaN,NaN,No Change
5,253,11/21/2014,Ross Stores Inc,ROST,NaN,Laura Champine,Sell,Sell,74.0,74.0,NaN,NaN,No Change
6,324,11/21/2014,Ross Stores Inc,ROST,Deutsche Bank,Michael Baker,Buy,Buy,95.0,95.0,NaN,NaN,No Change
7,462,12/3/2014,Ross Stores Inc,ROST,Goldman Sachs,Stephen Grambling,Buy,Buy,49.5,48.0,NaN,NaN,No Change

In [19]:
upgrades.to_csv("upgrades.csv", index=False)
downgrades.to_csv("downgrades.csv", index=False)
no_change.to_csv("no_change.csv", index=False)

In [27]:
sbux_upgrades = upgrades[upgrades['Ticker'] == 'SBUX']
sbux_downgrades = downgrades[downgrades['Ticker'] == 'SBUX']
sbux_no_change = no_change[no_change['Ticker'] == 'SBUX']

In [28]:
sbux_upgrades.head()

,Row,Date,Company Name,Ticker,Broker,Analyst,Rating Before,Rating After,Price Target Before,Price Target After,Adjusted Close Price (t = 0),Adjusted Close Price (t = 30),Event Type
577,620,4/20/2017,Starbucks Corp,SBUX,Stifel,Mark Astrachan,Hold,Buy,60.0,67.0,NaN,NaN,Upgrade
611,327,7/23/2021,Starbucks Corp,SBUX,Baird,David Tarantino,Neutral,Outperform,117.0,142.0,NaN,NaN,Upgrade
626,310,12/17/2021,Starbucks Corp,SBUX,Baird,David Tarantino,Neutral,Outperform,126.0,116.0,NaN,NaN,Upgrade
633,663,4/5/2022,Starbucks Corp,SBUX,Wedbush,Nick Setyan,Neutral,Outperform,105.0,91.0,NaN,NaN,Upgrade
634,535,4/12/2022,Starbucks Corp,SBUX,Citi,Jon Tower,Neutral,Buy,120.0,91.0,NaN,NaN,Upgrade

In [29]:
sbux_downgrades.head()

,Row,Date,Company Name,Ticker,Broker,Analyst,Rating Before,Rating After,Price Target Before,Price Target After,Adjusted Close Price (t = 0),Adjusted Close Price (t = 30),Event Type
578,628,7/28/2017,Starbucks Corp,SBUX,Stifel,Mark Astrachan,Buy,Hold,66.0,58.0,NaN,NaN,Downgrade
583,452,2/1/2018,Starbucks Corp,SBUX,Mizuho,Jeremy Scott,Buy,Neutral,68.0,60.0,NaN,NaN,Downgrade
589,584,1/11/2019,Starbucks Corp,SBUX,Goldman Sachs,Karen Holthouse,Buy,Neutral,75.0,68.0,NaN,NaN,Downgrade
595,383,4/9/2020,Starbucks Corp,SBUX,Baml,Gregory Francfort,Buy,Neutral,73.0,68.0,NaN,NaN,Downgrade
608,427,2/5/2021,Starbucks Corp,SBUX,Gordon Haskett,Jeff Farmer,Buy,Hold,100.0,120.0,NaN,NaN,Downgrade

In [30]:
no_change.head()

,Row,Date,Company Name,Ticker,Broker,Analyst,Rating Before,Rating After,Price Target Before,Price Target After,Adjusted Close Price (t = 0),Adjusted Close Price (t = 30),Event Type
2,430,2/28/2014,Ross Stores Inc,ROST,NaN,Roxanne Meyer,Buy,Buy,84.0,84.0,NaN,NaN,No Change
3,322,5/23/2014,Ross Stores Inc,ROST,Deutsche Bank,Michael Baker,Buy,Buy,78.0,78.0,NaN,NaN,No Change
5,253,11/21/2014,Ross Stores Inc,ROST,NaN,Laura Champine,Sell,Sell,74.0,74.0,NaN,NaN,No Change
6,324,11/21/2014,Ross Stores Inc,ROST,Deutsche Bank,Michael Baker,Buy,Buy,95.0,95.0,NaN,NaN,No Change
7,462,12/3/2014,Ross Stores Inc,ROST,Goldman Sachs,Stephen Grambling,Buy,Buy,49.5,48.0,NaN,NaN,No Change

In [31]:
sbux_upgrades.to_csv("sbux_upgrades.csv", index=False)
sbux_downgrades.to_csv("sbux_downgrades.csv", index=False)
sbux_no_change.to_csv("sbux_no_change.csv", index=False)

In [32]:
amzn_upgrades = upgrades[upgrades['Ticker'] == 'AMZN']
amzn_downgrades = downgrades[downgrades['Ticker'] == 'AMZN']
amzn_no_change = no_change[no_change['Ticker'] == 'AMZN']

In [33]:
amzn_upgrades.head()

,Row,Date,Company Name,Ticker,Broker,Analyst,Rating Before,Rating After,Price Target Before,Price Target After,Adjusted Close Price (t = 0),Adjusted Close Price (t = 30),Event Type
190,1099,4/24/2015,Amazon.com Inc,AMZN,Wedbush,Michael Pachter,Short,Neutral,19.75,21.75,NaN,NaN,Upgrade
390,67,8/4/2023,Amazon.com Inc,AMZN,Rosenblatt,Barton Crockett,Neutral,Buy,184.00,184.00,NaN,NaN,Upgrade

In [34]:
amzn_downgrades.head()

,Row,Date,Company Name,Ticker,Broker,Analyst,Rating Before,Rating After,Price Target Before,Price Target After,Adjusted Close Price (t = 0),Adjusted Close Price (t = 30),Event Type
167,1005,7/22/2014,Amazon.com Inc,AMZN,Citi,Mark May,Buy,Neutral,20.7,19.75,NaN,NaN,Downgrade
198,1318,7/29/2015,Amazon.com Inc,AMZN,Stifel,Scott Devitt,Buy,Hold,26.3,35.00,NaN,NaN,Downgrade
211,1045,2/18/2016,Amazon.com Inc,AMZN,Canaccord,Michael Graham,Buy,Hold,30.0,37.50,NaN,NaN,Downgrade
286,447,11/4/2020,Amazon.com Inc,AMZN,China Renaissance,Ella Ji,Buy,Hold,168.0,200.00,NaN,NaN,Downgrade
302,90,10/29/2021,Amazon.com Inc,AMZN,Jefferies,Brent Thill,Buy,Hold,210.0,200.00,NaN,NaN,Downgrade

In [35]:
amzn_no_change.head()

,Row,Date,Company Name,Ticker,Broker,Analyst,Rating Before,Rating After,Price Target Before,Price Target After,Adjusted Close Price (t = 0),Adjusted Close Price (t = 30),Event Type
141,543,12/2/2009,Amazon.com Inc,AMZN,NaN,Heath Terry,Outperform,Outperform,160.0,160.0,NaN,NaN,No Change
142,226,9/4/2012,Amazon.com Inc,AMZN,NaN,Brian Pitz,Buy,Buy,300.0,300.0,NaN,NaN,No Change
143,1536,9/21/2012,Amazon.com Inc,AMZN,NaN,Youssef Squali,Buy,Buy,300.0,300.0,NaN,NaN,No Change
144,544,1/9/2013,Amazon.com Inc,AMZN,NaN,Heath Terry,Buy,Buy,310.0,310.0,NaN,NaN,No Change
145,222,1/30/2013,Amazon.com Inc,AMZN,NaN,Brian Pitz,Buy,Buy,335.0,335.0,NaN,NaN,No Change

In [36]:
amzn_upgrades.to_csv("amzn_upgrades.csv", index=False)
amzn_downgrades.to_csv("amzn_downgrades.csv", index=False)
amzn_no_change.to_csv("amzn_no_change.csv", index=False)