# **Yahoo Finance**

In [ ]:
pip install yfinance

Requirement already satisfied: yfinance in c:\users\sfita\anaconda3\lib\site-packages (1.0)
Requirement already satisfied: pandas>=1.3.0 in c:\users\sfita\anaconda3\lib\site-packages (from yfinance) (2.2.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\sfita\anaconda3\lib\site-packages (from yfinance) (2.1.3)
Requirement already satisfied: requests>=2.31 in c:\users\sfita\anaconda3\lib\site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\sfita\anaconda3\lib\site-packages (from yfinance) (0.0.12)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\sfita\appdata\roaming\python\python313\site-packages (from yfinance) (4.4.0)
Requirement already satisfied: pytz>=2022.5 in c:\users\sfita\anaconda3\lib\site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\sfita\anaconda3\lib\site-packages (from yfinance) (2.4.2)
Requirement already satisfied: peewee>=3.16.2 in c:\users\sfita\anaconda3\lib\site-packages (from yfinance) (3.18.3)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\sfita\anaconda3\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: curl_cffi<0.14,>=0.7 in c:\users\sfita\anaconda3\lib\site-packages (from yfinance) (0.13.0)
Requirement already satisfied: protobuf>=3.19.0 in c:\users\sfita\anaconda3\lib\site-packages (from yfinance) (5.29.3)
Requirement already satisfied: websockets>=13.0 in c:\users\sfita\anaconda3\lib\site-packages (from yfinance) (15.0.1)
Requirement already satisfied: cffi>=1.12.0 in c:\users\sfita\anaconda3\lib\site-packages (from curl_cffi<0.14,>=0.7->yfinance) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in c:\users\sfita\anaconda3\lib\site-packages (from curl_cffi<0.14,>=0.7->yfinance) (2025.8.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\sfita\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: pycparser in c:\users\sfita\anaconda3\lib\site-packages (from cffi>=1.12.0->curl_cffi<0.14,>=0.7->yfinance) (2.21)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sfita\appdata\roaming\python\python313\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sfita\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\sfita\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sfita\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sfita\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sfita\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import yfinance as yf
import matplotlib.pyplot as plt
import datetime as dt

In [ ]:
stock = yf.download("SBUX", start="2021-12-2", end="2021-12-12")
display(stock[['Open', 'Close']])

print(list(stock.columns))

$SBUX: possibly delisted; no price data found  (1d 2021-12-24 -> 2021-12-27)
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['SBUX']: possibly delisted; no price data found  (1d 2021-12-24 -> 2021-12-27)

Empty DataFrame
Columns: [(Open, SBUX), (Close, SBUX)]
Index: []

[('Adj Close', 'SBUX'), ('Close', 'SBUX'), ('High', 'SBUX'), ('Low', 'SBUX'), ('Open', 'SBUX'), ('Volume', 'SBUX')]

# **Welch Two-Sample T-Test**

### **30-day returns**

In [ ]:
import pandas as pd
from scipy import stats

df = pd.read_csv("t_test_30 - Sheet1 (1).csv")

df.head(40)

    Upgrade: 30-day returns  Downgrade: 30-day returns
0                  0.028007                  -0.015388
1                 -0.037151                   0.209171
2                 -0.011323                   0.048461
3                  0.093123                   0.064651
4                  0.017292                   0.392175
5                 -0.055057                   0.097796
6                 -0.040777                   0.013449
7                  0.005875                   0.049160
8                  0.065456                   0.075014
9                  0.062805                  -0.051158
10                -0.066089                  -0.022892
11                -0.105128                   0.130743
12                -0.117461                  -0.000062
13                -0.082188                   0.021293
14                -0.009167                  -0.004973
15                 0.024472                   0.065929
16                -0.064092                   0.050171
17                 0.025339                   0.124621
18                 0.067822                   0.062413
19                 0.090147                   0.002937
20                 0.062095                   0.076641
21                 0.080756                   0.056997
22                 0.050632                  -0.127886
23                 0.027700                   0.074453
24                -0.092295                   0.065071
25                      NaN                   0.200019
26                      NaN                   0.025933
27                      NaN                   0.129652
28                      NaN                   0.077706
29                      NaN                  -0.000884
30                      NaN                  -0.097915
31                      NaN                   0.204750
32                      NaN                   0.076044
33                      NaN                   0.025796
34                      NaN                   0.130339
35                      NaN                  -0.105926
36                      NaN                  -0.002324

In [ ]:
upgrade_returns = df["Upgrade: 30-day returns"].dropna()
downgrade_returns = df["Downgrade: 30-day returns"].dropna()

In [ ]:
upgrade_returns.head(30)

0     0.028007
1    -0.037151
2    -0.011323
3     0.093123
4     0.017292
5    -0.055057
6    -0.040777
7     0.005875
8     0.065456
9     0.062805
10   -0.066089
11   -0.105128
12   -0.117461
13   -0.082188
14   -0.009167
15    0.024472
16   -0.064092
17    0.025339
18    0.067822
19    0.090147
20    0.062095
21    0.080756
22    0.050632
23    0.027700
24   -0.092295
Name: Upgrade: 30-day returns, dtype: float64

In [ ]:
downgrade_returns.head(40)

0    -0.015388
1     0.209171
2     0.048461
3     0.064651
4     0.392175
5     0.097796
6     0.013449
7     0.049160
8     0.075014
9    -0.051158
10   -0.022892
11    0.130743
12   -0.000062
13    0.021293
14   -0.004973
15    0.065929
16    0.050171
17    0.124621
18    0.062413
19    0.002937
20    0.076641
21    0.056997
22   -0.127886
23    0.074453
24    0.065071
25    0.200019
26    0.025933
27    0.129652
28    0.077706
29   -0.000884
30   -0.097915
31    0.204750
32    0.076044
33    0.025796
34    0.130339
35   -0.105926
36   -0.002324
Name: Downgrade: 30-day returns, dtype: float64

In [ ]:
t_stat, p_value = stats.ttest_ind(upgrade_returns, downgrade_returns, equal_var=False)

print("Upgrade sample size:", len(upgrade_returns))
print("Downgrade sample size:", len(downgrade_returns))
print("Upgrade mean return:", upgrade_returns.mean())
print("Downgrade mean return:", downgrade_returns.mean())
print("Upgrade standard deviation:", upgrade_returns.std())
print("Downgrade standard deviation:", downgrade_returns.std())
print("Downgrade mean return:", downgrade_returns.mean())
print("Welch t-statistic:", t_stat)
print("p-value:", p_value)

Upgrade sample size: 25
Downgrade sample size: 37
Upgrade mean return: 0.0008317514285200012
Downgrade mean return: 0.057350625703224065
Upgrade standard deviation: 0.0647305794916255
Downgrade standard deviation: 0.09608695956983994
Downgrade mean return: 0.057350625703224065
Welch t-statistic: -2.7672950919682404
p-value: 0.007504844852795925

### **5-day returns**

In [ ]:
df5 = pd.read_csv("t_test_5 - Sheet1 (2).csv")

df5.head(40)

    Upgrade: 5-day returns  Downgrade: 5-day returns
0                -0.029691                  0.010440
1                 0.039642                  0.013676
2                -0.020090                  0.037235
3                -0.002460                  0.003382
4                 0.023766                  0.291862
5                 0.010809                 -0.040739
6                -0.049944                 -0.001364
7                -0.008311                  0.011458
8                 0.020306                 -0.007483
9                 0.003514                 -0.113180
10               -0.036040                  0.015142
11                0.051459                  0.057429
12               -0.051474                 -0.032016
13                0.017922                  0.043458
14               -0.024274                  0.026666
15               -0.005956                 -0.034614
16               -0.011059                  0.008141
17               -0.013405                  0.015220
18                0.062313                 -0.005008
19                0.024454                 -0.011082
20               -0.014062                  0.033477
21               -0.018968                  0.048816
22                0.010442                 -0.069257
23               -0.034071                 -0.012628
24               -0.055048                  0.068625
25                     NaN                  0.033229
26                     NaN                 -0.006541
27                     NaN                 -0.017252
28                     NaN                  0.034223
29                     NaN                 -0.035814
30                     NaN                  0.048202
31                     NaN                  0.035250
32                     NaN                  0.000394
33                     NaN                  0.006995
34                     NaN                  0.011525
35                     NaN                 -0.044166
36                     NaN                 -0.047259

In [ ]:
upgrade_returns5 = df5["Upgrade: 5-day returns"].dropna()
downgrade_returns5 = df5["Downgrade: 5-day returns"].dropna()

In [ ]:
upgrade_returns5.head(30)

0    -0.029691
1     0.039642
2    -0.020090
3    -0.002460
4     0.023766
5     0.010809
6    -0.049944
7    -0.008311
8     0.020306
9     0.003514
10   -0.036040
11    0.051459
12   -0.051474
13    0.017922
14   -0.024274
15   -0.005956
16   -0.011059
17   -0.013405
18    0.062313
19    0.024454
20   -0.014062
21   -0.018968
22    0.010442
23   -0.034071
24   -0.055048
Name: Upgrade: 5-day returns, dtype: float64

In [ ]:
downgrade_returns5.head(30)

0     0.010440
1     0.013676
2     0.037235
3     0.003382
4     0.291862
5    -0.040739
6    -0.001364
7     0.011458
8    -0.007483
9    -0.113180
10    0.015142
11    0.057429
12   -0.032016
13    0.043458
14    0.026666
15   -0.034614
16    0.008141
17    0.015220
18   -0.005008
19   -0.011082
20    0.033477
21    0.048816
22   -0.069257
23   -0.012628
24    0.068625
25    0.033229
26   -0.006541
27   -0.017252
28    0.034223
29   -0.035814
Name: Downgrade: 5-day returns, dtype: float64

In [ ]:
t_stat5, p_value5 = stats.ttest_ind(upgrade_returns5, downgrade_returns5, equal_var=False)

print("Upgrade sample size:", len(upgrade_returns5))
print("Downgrade sample size:", len(downgrade_returns5))
print("Upgrade mean return:", upgrade_returns5.mean())
print("Downgrade mean return:", downgrade_returns5.mean())
print("Upgrade standard deviation:", upgrade_returns5.std())
print("Downgrade standard deviation:", downgrade_returns5.std())
print("Downgrade mean return:", downgrade_returns5.mean())
print("Welch t-statistic:", t_stat5)
print("p-value:", p_value5)

Upgrade sample size: 25
Downgrade sample size: 37
Upgrade mean return: -0.00440908067548
Downgrade mean return: 0.010174119083416215
Upgrade standard deviation: 0.031111054423039276
Downgrade standard deviation: 0.06043858223903234
Downgrade mean return: 0.010174119083416215
Welch t-statistic: -1.2439271161635304
p-value: 0.21864514908245106